<ng-container *ngIf="isFeatureFlagActive; else basicLayout">
  <app-basic-in-flow-layout>
    <ng-container *ngTemplateOutlet="shoppingCartContent"></ng-container>
  </app-basic-in-flow-layout>
</ng-container>

<ng-template #basicLayout>
  <app-basic-layout>
    <ng-container *ngTemplateOutlet="shoppingCartContent"></ng-container>
  </app-basic-layout>
</ng-template>


<ng-template #shoppingCartContent>
  <div class="container">
    <h1>Your Itinerary</h1>
    <h2>QX72SX</h2>
    <div class="print-pdf" id="print-pdf">
      <p>Print your document</p>
      <button (click)="print()">Print</button>
    </div>
    <div class="card">
      <div class="card-content">
        <h2>Flight 1</h2>
        <p>Location: Dummy Location</p>
        <p>Time: 12:00</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h2>Flight 2</h2>
        <p>Location: Dummy Location</p>
        <p>Time: 15:00</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2>Passenger Detail</h2>
        <p>Kuthay Gumus</p>
        <p>FRA-IST</p>
      </div>
    </div>

    <div class="accordion" [ngClass]="{'open': isPPBAccordionOpen}">
      <div class="accordion-header" (click)="togglePPBAccordion()">
        <h3>Partner Plus Benefit Teaser</h3>
        <div class="chevron">
          <span [ngClass]="{'open': isPPBAccordionOpen}">&#9660;</span>
        </div>
      </div>
      <div class="accordion-content" [hidden]="!isPPBAccordionOpen">
        <p>Partner plus benefit</p>
        <p>Partner plus benefit</p>
        <p>Partner plus benefit</p>
      </div>
    </div>

    <div class="accordion" [ngClass]="{'open': isAccordionOpen}" id="print-accordion">
      <div class="accordion-header" (click)="toggleAccordion()">
        <h3>Rail and Fly Teaser</h3>
        <div class="chevron">
          <span [ngClass]="{'open': isAccordionOpen}">&#9660;</span>
        </div>
      </div>
      <div class="accordion-content" [hidden]="!isAccordionOpen">
        <div class="service-teaser">
          <p>Rail and Fly Ticket</p>
          <p>Rail and Fly Ticket</p>
          <p>Rail and Fly Ticket</p>
      </div>
      </div>
    </div>

    <div class="image-text-container">
      <div class="image">
        <img src="https://dummyimage.com/600x400/e32051/fff" alt="Dummy Image">
      </div>
      <div class="text-button">
        <p>Rail And Fly Ticket</p>
        <button>Button</button>
      </div>
    </div>

    <div class="image-text-container">
      <div class="image">
        <img src="https://dummyimage.com/600x400/000/fff" alt="Dummy Image 2">
      </div>
      <div class="text-button">
        <p>Partner Plus Benefit</p>
        <button>Button</button>
      </div>
    </div>

    <div class="image-text-container">
      <div class="image">
        <img src="https://dummyimage.com/600x400/e32051/fff" alt="Dummy Image">
      </div>
      <div class="text-button">
        <p>Insurance</p>
        <button>Button</button>
      </div>
    </div>
  </div>
</ng-template>
